	body {
		background-color: pink;
	}
	.container {
		width:100%;
		font-family: Arial;
		padding: 20px;
	}
	/*headers*/
	.title{
	}
	.title a {
		color: black;
		text-decoration: none;
	}
	a {
		color: green;
		text-decoration: none;
	}
