	body {
		background-color: pink;
	}
	.container {
		width:100%
	}
	/*headers*/
	h1 {
		font-family: Arial;
		text-align: left;
		margin: 20px;
	}
	.title{
	}
	.title a {
		color:black;
		text-decoration: none;
	}
