	body {
		background-color: pink;
	}
	.container {
		width=100%;
		font-family: Arial;
		padding: 20px;
	}
	/*headers*/
	.title{
	}
	.title a {
		color: black;
		text-decoration: none;
	}
	/*content*/
	a {
		color: green;
		text-decoration: none;
	}
	li {
		margin: 0 0 3px 0;
	}
	/*last updated*/
	hr {	  
		border: 1px black;
	}
